<section class="contact-success-container">
  <h1>Thank You!</h1>
  <p>Your message has been sent successfully. We will get back to you shortly.</p>
  <a href="/" class="btn-primary">Return Home</a>
</section>
