<!-- views/account/login.ejs -->


<main>
  <div class="form-wrapper login-form-wrapper">
    <h1>Login</h1>

    <% if (errors && errors.length > 0) { %>
      <ul class="notice">
        <% errors.forEach(function(error) { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>

    <% if (typeof message !== 'undefined' && message) { %>
      <div class="alert alert-info"><%= message %></div>
    <% } %>

    <form action="/account/login" method="POST" class="form-container">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required />

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required />

      <button type="submit">Login</button>
    </form>
  </div>
</main>

