<main>
  <h1>Add New Classification</h1>

  <%- messages() %> <!-- For flash messages -->

  <div class="form-wrapper">
    <form class="form-container" action="/admin/inventory/add-classification" method="post">
      <label for="classification_name">Classification Name</label>
      <input type="text" id="classification_name" name="classification_name" required maxlength="30" />
      <button type="submit">Add Classification</button>
    </form>
  </div>
</main>
