<main class="full-width">
  <% if (title) { %>
    <h1><%= title %></h1>
    <%- grid %> <!-- grid HTML injected from utilities -->
  <% } else { %>
    <p>Classification not found. <a href="/">Return home</a></p>
  <% } %>
</main>
