<%- include('../layouts/partials/head', { title: title }) %>
<%- include('../layouts/partials/header') %>

<main>
  <h1>Inventory Home</h1>
  <p>Welcome to the Inventory page.</p>
</main>

<%- include('../layouts/partials/footer') %>
