<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= title %> | CSE Motors</title>
  <link rel="stylesheet" href="/css/404.css" />
</head>
<body>
  <div class="container">
    <h1>404</h1>
    <p><%= message %></p>
    <a href="/">Return to Home</a>
  </div>
</body>
</html>
