<header id="main-nav">
  <!-- rest of your header content -->
  <div class="nav-top">
    <span class="sitename"><a href="/">CSE Motors</a></span>
    <div id="tools"><a href="/account/login">My Account</a></div>
    <button id="nav-toggle" aria-label="Toggle Navigation">&#9776;</button>
  </div>
  <%- include('navigation') %>

  <%/* if (useFormsCSS) { %>
    <link rel="stylesheet" href="/css/forms.css" />
  <% }*/ %>
</header>
